<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

  <br>
  <br>
  <br>
  <br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class = "login">

  <div class = "up">
    <h2 class = "titles">Forgot your password?</h2>
  </div>

  <div class="error"><%= render "devise/shared/error_messages", resource: resource %></div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
  </div>

  <br>
  <br>

  <div class="actions">
    <%= f.submit "Send me instructions" %>
  </div>
</div>
<% end %>


