<div class="showcase">

	<div class = "up">
    	<h2 class = "titles">Editing Classification</h2>
  	</div>

	<%= render 'form', type: @type %>

	<div class="back">
      	<%= link_to 'Back', types_path, class: "back-but"%>
    </div>

</div>