<div class="showcase">

	<div class="back">
     	 <%= link_to '◄BACK', types_path, class: "back-but"%>
  	</div>

  	<div class = "up">
	    <h2 class = "titles">New Classification</h2>
	</div>

	<%= render 'form', type: @type %>

	<div class="back">
     	 <%= link_to '◄BACK', types_path, class: "back-but"%>
  	</div>

</div>



