<div class="showcase">

	<div class = "up">
    	<h2 class = "titles">Editing Fuel</h2>
  	</div>

	<%= render 'form', fuel: @fuel %>

	<div class="back">
      	<%= link_to 'Back', fuels_path, class: "back-but"%>
    </div>

</div>

