<div class="showcase">

	<div class="back">
     	 <%= link_to '◄BACK', fuels_path, class: "back-but"%>
  	</div>

	<div class = "up">
	    <h2 class = "titles">New fuel</h2>
	</div>

	<%= render 'form', fuel: @fuel %>

	<div class="back">
     	 <%= link_to '◄BACK', fuels_path, class: "back-but"%>
  	</div>

</div>
