<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

<div class="showcase-show">

	<div class = "conf-create"><p id="notice"><%= notice %></p></div>

	<table class="center">
    <tr>
      <th>Name:</th>
      <td><%= @fuel.name %></td>
    </tr>
    </table>

	<br>
	<br>

	<%= link_to '◄BACK', fuels_path, class: "back-but"%>

</div>

	<br>
	<br>
